*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}


p{
	font-family: tahoma;
	font-size: 24px;
	color: #757575;
}
/*改成flex布局，可以更好的控制布局 byaei*/
#wrap{
	background-color:rgba(200,148,162,0);
	display: flex;
	flex-flow: column;
	justify-items: center;
	align-content: center;
	width: 600px;
	margin: 20px auto 0;
	height: 1000px;
}

/*把标题弄好看点 byaei*/
h1{
	margin-bottom: 15px;
	text-align: center;
	font-size: 35px;
	font-family: tahoma;
	color: black;
}

#form-wrap{
	background-color:rgba(200,148,162,0);
	overflow: hidden;
	height: 447px;
	position: relative;
	top: 0px;
	transition: 2s;
}

/*装上信头*/
#form-wrap:before{
	border: 0;
	content: "";
	position: absolute;
	bottom: 128px;
	left: 35px;
	background: url('../img/before.png');
	width: 530px;
	height: 317px;
}


#form-wrap:after{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 35px;
	background: url('../img/after.png');
	width: 530px;
	height: 259px;
}



/*把信升起来*/
#form-wrap:hover{
	height: 777px;
	top: -200px;
}

/*信纸*/
form{
	background: url('../img/letter_bg.png');
	border-radius: 5px;
	position: relative;
	top: 200px;
	overflow: hidden;
	height: 200px;
	width: 400px;
	margin: 0px auto;
	padding: 20px;
	border: 0px solid white;
	border-right: 3px;
	transition: 2s;
}

/*将信纸选中和最后的信纸升起绑定到一起*/
#form-wrap:hover form{
	height: 530px;
}


/*渐变效果的运用 byaei*/

#form-wrap input[type=submit]{
	position: relative;
	font-family: tahoma;
	font-size: 24px;
	color: gray;
	width: 300px;
	text-align: center;
	opacity: 0;
	background: none;
	cursor: pointer;
	transition: opacity 0.7s ease-in-out 0s;
}

#form-wrap:hover input[type=submit]{
	z-index: 1;
	opacity: 1;
	transition: opacity 1s ease-in-out 1.3s;
}

.form1 p{
	display: block;
	
}

.form1 img{
	margin-top: 3px;
	width: 100%;
	border-radius: 10px;
}

#box1{
	margin-top: 5px;
	text-align: center;
}

body{
    background-image: linear-gradient(70deg,#f07c82, #93b5cf);
	overflow: hidden;
}