*{
    margin: 0;
}
#box1{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: rgba(207, 204, 201, 0.7);
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 13vh;
    width: 90vw;
    height: 87vh;
    text-align: center;
    background-image: url(qingshu4/img/t012b38de2c48cd7949.jpg);
    overflow: hidden;
    background-size: cover;
    transition: 2s;
}
#box1:hover{
    opacity: 1;
}





html {
    font-size : 20px;
    height: 100vh;
    width: 100vw;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}