body{
    width: 100hw;
    height: 100vh;
}
.mengban{
    z-index: 100;
    position:absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(57,62,70,0.4);
}

.mengban2{
    color: rgba(2, 71, 94,0.5);
    z-index: 300;
    position:absolute;
    padding-top: 45vh;
    text-align: center;
    height: 55vh;
    width: 100vw;
    background-image: linear-gradient(70deg,#f07c82, #93b5cf);
    opacity: 1;
    transition-property: opacity;
    transition:5s;
}

.mengban2:hover{ 
    opacity: 0;
}
.next{
    color: rgba(208, 173, 211, 0.6);
    position: absolute;
    z-index: 1000;
    bottom: 5vh;
    right: 3vw;
    text-decoration: none;
    cursor: pointer;
    transition: 1.5s;
}
.next:hover{
    color: rgba(253, 165, 246, 0.6);
    transform: scale(1.5);
}