*{
    padding: 0;
    margin: 0;
}
.box0{
position: absolute;
background: cornsilk;
width: 100vw;
height: 100vh;
overflow: hidden;
transition:background-color 3s;
}
.box1{
    position: absolute;
    height: 200vh;
    width: 10vw;
    right: 45vw;
    transition: 3s;
}
/*
.box1{
    transform:rotate(180deg);
    transform-origin: center;
}
.box0{
    background-color:  cornflowerblue;
}*/
.box1::before
{
    content: "";
}
.box1::after{
    content: "";
}
.sun{
    margin-top: 10vh;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: khaki;
}
.moon{
    position: absolute;
    bottom: 10vh;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: slateblue;
}


